<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Only in debug builds: hosts the long strip scroller for WebtoonScrollTest -->
        <activity
            android:name="surge.debug.ScrollTestActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>
</manifest>
